.database{
    height: 100px;
}

.database:hover {
    background-color: #b3ccff !important;
    border: #6699ff !important;
    cursor: pointer;
}


.glyphicon {
    font-size: 1.6em;
}

database-modal .glyeye:hover {
    color:white;
}

.btn-success {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}